/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #1b1b1b;
    color: #ffcc00;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    color: #1b1b1b;
    border-bottom: 2px solid #ffcc00;
    padding-bottom: 5px;
}

p {
    line-height: 1.6;
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 24px; /* Adjust this size as needed */
        text-align: center;
    }
}
